# Arquivos e diretórios específicos da aplicação
dist
dist-ssr
*.local
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
public/workbox-*.js
public/sw.js
stats.html
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diretório node_modules
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Banco de dados e migrações
*.sqlite
*.sqlite3
.postgres
drizzle/migrations/.snapshot.json

# Temporários
.temp
.tmp

# PWA
dev-dist